*{
	box-sizing: border-box;
	
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    background: #BDBDBD;    
    padding: 0;
    margin: 0;
}

/* Header/Blog Title */
.header {
    font-size: 20px;
    text-align: center;
    background: #2E2E2E;
    margin: 0px;
    padding: 20px;
    color: white;
}

a {
    color:	#2E2E2E;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 10px;
     margin-top: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both; 
}

/* Footer */
.footer {
	   font-size: 20px;
    padding: 20px;
    text-align: center;
    background: #2E2E2E;
    margin-top: 10px;
    color: white;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/*
signup {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

*/
.pagination{
   margin: 0;
   padding: 0;
}
.pagination li{
  display: inline; 
  padding: 6px 10px 6px 10px;
  border: 1px solid #ddd;
  margin-right: -1px;
  font: 13px/20px Arial, Helvetica, sans-serif;
  background: #FFFFFF;
}
.pagination li a{
	text-decoration:none;
	color: black;
}
.pagination li:hover{ 
background: #EEE;
}

.pagination li.current {
	background: #89B3CC;
	border: 1px solid #89B3CC;
color: #FFFFFF;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;     
    }
}
